.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 3px;
}

.link:hover {
  background-color: rgba(0, 123, 255, 0.1);
}
